.profile__post {
  margin: 0;
  padding: 0;
  max-width: 336px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@media screen and (max-width: 880px) {
  .profile__post {
    text-align: center;
  }
}

@media screen and (max-width: 845px) {
  .profile__post {
    font-size: 14px;
    line-height: 17px;
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .profile__post {
    margin: 0 auto;
    margin-right: 7px;
  }
}
