.popup__field {
  margin: 0 0 5px;
  padding: 0;
  padding-bottom: 13px;
  width: 100%;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
